html {
  height: 100vh;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  /* typography */
  font-size: 14px;
  line-height: 1.2;

  /* global color references*/
  --gray: #cccccc;
  --darker-gray: #aaaaaa;
  --dark-gray: #787878;
  --darkest-gray: #555555;

  --fg: #2b2c34;
  --bg: #fffffe;
  --pri: #6246ea;
  --sec: #d1d1e9;
  --ter: #e45858;

  color: var(--fg);
  background-color: var(--bg);
  border-color: var(--fg);
}
